@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
      rgba(125, 125, 0, 0.2),
      rgba(255, 0, 0, 0.15)
    ),url(../img/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;

}

header h1 {
  color: black;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 5em;
  text-shadow: 1px 1px 1px #ccc;
}

i {
  font-size: 90px;
  color: black;
  text-shadow: 1px 1px 1px grey;
}

.score-board {
  margin: 50px auto;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  font-size: 46px;
  padding: 15px 20px;
  position: relative;
  font-family: arial, sans-serif;
}

.score-board span {
    text-shadow: 1px 1px 1px white;
}

.badge {
  background-color: rgb(0 , 100, 138);
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: arial, sans-serif;
  border-radius: 4px;
}

.result {
  font-size: 60px;
  color: black;
    text-shadow: 1px 1px 1px white;
}

.result h3 {
  text-align: center;
  font-weight: 400;
}

.choices {
  text-align: center;
  margin-top: 40px;
}

.choice {
  display: inline-block;
  border: 6px solid #1E1E1E;
  margin-right:40px;
  margin-bottom: 180px;
  padding: 40px 40px;
  border-radius: 50%;
  transition: all 0.3s ease;

}

.choice:hover {
  background-color: rgba(175, 175, 175, 0.5);
  cursor: pointer;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

#action-message {
  margin-top: 30px;
  text-align: center;
  color: black;
  font-size: 60px;
    text-shadow: 1px 1px 1px white;
}
